body{
  font-family: sans-serif;
  with: 100%;
  height:100%;
  padding: 0px;
  margin: 0px;
}

#menu1{
  align = "left";
  padding-top: 50px;
}

.nav{
  text-align: center;
  position: relative;
  padding 9px 10px 50px 0px;
  background-color: aliceblue;
  margin-bottom: 0px;
}

.nav ul,li,a{
  display: inline;
  padding-left: 10px;
  text-decoration:none;
  color:dimgrey;
}

.jumbotron{
  background-color: cornflowerblue;
  position: relative;
  padding: 50px 0px 50px 0px;
}

.jumbotron h1,h2{
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 1px grey;
}

.main{
  margin: 0px 25px 0px 25px;
}

.main h3,h2{
  padding: 100px 100px 100px 100px;
  color: red;
  text-shadow: 1px 1px grey;
}
