body{
  with: 100%;
  height:100%;
  padding: 0px;
  margin: 0px;
}

#menu1{
  font-family: sans-serif;
}

#menu2{
  font-family: sans-serif;
}

.topspace{
  background-color: aliceblue;
}

.nav{
  text-align: center;
  position: relative;
  padding 100px 10px 100px 0px;
  background-color: aliceblue;
  margin-bottom: 0px;
}

.nav ul,li,a{
  font-family: sans-serif;
  display: inline;
  padding-left: 10px;
  text-decoration:none;
  color:dimgrey;
}


#menu3{
  font-family: sans-serif;
}

#menu4{
  font-family: sans-serif;
}

.topspaces{
  background-color: aliceblue;
}

.nav1{
  text-align: center;
  position: relative;
  padding 100px 10px 100px 0px;
  background-color: aliceblue;
  margin-bottom: 0px;
}

.nav1 ul,li,a{
  font-family: sans-serif;
  display: inline;
  padding-left: 10px;
  text-decoration:none;
  color:dimgrey;
}



.jumbotron{
  position: relative;
  background-color: aliceblue;
  padding: 7px 0px 0px 0px;
}

.jumbotron h1{
  font-family: Algerian;
  text-align: center;
  color: blue;
  text-shadow: 1px 1px grey;
}

.main{
  margin: 0px 25px 0px 25px;
}

.main{
  background-color: aliceblue;
  padding-left: 300px;
}

.main h3,h4{
  text-decoration:none;
  font-family: Calibri;
  text-shadow: 1px 1px grey;
}
